main-bg = #16160e
card-bg-1 = rgba(105, 115, 128, .2)
card-bg-2 = #1e1e1e
card-border = 1px solid #3e3e3e
nav-bg = rgba(45, 45, 45, .5)
font-color = #f3f3f3
theme-primary = #bbbcde
theme-accent = #8491c3
theme-gradient = linear-gradient(45deg, #674598, #1e50a2)

@keyframes name_bottom
    0%
        right 100%
    100%
        right 0

body
    display block
    margin 0
    background main-bg
    font-family AR One Sans,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji

a
    text-decoration none

strong
    color theme-accent

// .nav
//     background nav-bg
//     backdrop-filter saturate(140%) blur(10px)
//     box-shadow rgba(5, 5, 5, .2) 0px 1px 4px
//     z-index 100
//     width 100%
//     height 50px
//     position fixed
//     display flex
//     top -50px
//     align-items center
//     padding 0 40px
//     justify-content center
//     transition all .4s ease-in-out
//     #nav_title
//         position relative
//         display inline-block
//         color font-color
//         font-size 20px

.main_container
    color font-color
    margin auto
    padding 2rem
    max-width 1000px
    .title
        font-weight 650
        font-size 1.6rem
    .footnote
        color #616161
        font-size small
    .top
        .top_title
            margin 40px 0 0 0
            font-weight 700
            font-size 3rem
            .my_name
                color theme-primary
                display inline-block
                position relative
                &:before
                    content ''
                    background theme-gradient
                    display block
                    position absolute
                    bottom 5%
                    left 0
                    top 65%
                    z-index -1
                    animation-delay .2s
                    animation-fill-mode forwards
                    animation-duration 1.3s
                    animation-timing-function cubic-bezier(.2, .3, .2, 1)
                    animation-name name_bottom
        .top_info
            margin .2rem 0 2rem 0
    .social_block
        position relative
        display inline-flex
        align-items center
        color font-color
        padding .5rem .8rem
        background card-bg-1
        border-radius 6px
        margin 0 .5rem .6rem .5rem
        transition all .1s linear
        span
            margin-left 4px
    .footer
        color #829292
        text-align center
        font-size 13px
        a
            color font-color
