.footer
    p Copyright 2022 - 2023 <a href="/">hellolin</a>, all rights reserved.
    p <a href="https://github.com/hellolin-oi/HomePage" target="_blank">Hellolin's HomePage</a> is licensed under the Mozilla Public License Version 2.0.
