h2.title 💎 About Me
.info
    p.
        I am a self-taught <strong>programmer</strong> and an <strong>OIer</strong> who always participates in competitive programming. I have a great interest in the fields of <strong>mathematics and computer science</strong>, which gives me the motivation to learn from experts, the courage to keep exploring and the power to keep improving. I am also an <strong>open source developer</strong>, and I am very happy to share my knowledge and help others in the open source community, and I strongly believe in <strong>the unlimited power of teamwork</strong>.
    p.
        I have a wide range of interests. In addition to programming, I enjoy watching animes and movies, reading novels, playing video games, and more. I'm also a <strong>minimalist</strong>, I don't store any files on my computer desktop and my file system is usually pretty neat.
    p.
        Here is some additional information about me: social accounts, skills and projects. I'd be happy to become friends with you if I can.
