h2.title ⭐ My Skills
.skills
    img(src="https://skillicons.dev/icons?theme=dark&perline=18&i=ae,alpinejs,astro,c,cs,cpp,cloudflare,cmake,codepen,css,discord,docker,dotnet,electron,git,github,githubactions,gitlab,go,html,java,js,linux,lua,md,mastodon,matlab,mongodb,neovim,netlify,nginx,nodejs,ps,powershell,pr,pug,py,qt,react,regex,rust,stackoverflow,svg,swift,threejs,twitter,ts,unity,visualstudio,vite,vscode,workers")
    .footnote Made with skillicons.dev
